<header th:fragment="userHeader">
    <a th:href="@{/}">Home</a>
    <a th:href="@{/reportProblem}">Report a problem</a>
    <div sec:authorize="isAuthenticated()">
        <!-- Show logout button if authenticated -->
        <form th:action="@{/logout}" method="post">
            <button type="submit" aria-label="Log Out">Log Out</button>
        </form>

        <!-- Optionally show the username if logged in -->
        <p>Welcome, <span th:text="${#authentication.name}"></span></p>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{${loginPath}}" aria-label="Log I">Login</a>
    </div>
</header>