/*--------Common things-----------*/
:root {
    --background-color: #dddddec5;
    --primary-color: #1358b8;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #eeeeee;
}


h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

a:link {
    color: var(--primary-color)
}

a:visited {
    color: #6542b6;
}

body {
    margin: 0;
}

.significant-button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.significant-button:hover {
    background-color: #114b9c;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.significant-button:active {
    background-color: #165aba;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}