<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <title>Answer Problem</title>
</head>
<body>

<div th:replace="~{fragments/header :: engineerHeader}"></div>

<main class="main-width-container flex-center">

    <div>

        <div th:if="${answerStatus == 'success'}">
            Problem answered successfully!
        </div>

        <div th:if="${answerStatus == 'failure'}">
            Problem answering failed.
        </div>

            <h2 th:text="'Problem #' + ${actions[0].problem.id}">Problem #1</h2>
        <ol>
            <li th:each="action : ${actions}" th:text="${action.description}">Action description.</li>
        </ol>

        <form th:action="@{/engineer/problems/{problemId}/answer(problemId=${actions[0].problem.id})}" method="post">
            <label>Answer
            <textarea name="answer" rows="10" cols="40"
                      placeholder="How can the problem be resolved?"></textarea>
            </label>

            <fieldset>
                <legend>Problem State:</legend>
                <th:block th:each="problemState : ${problemStates}">
                    <div>
                        <input type="radio" th:id="${problemState}" name="problemState" th:value="${problemState}"
                               th:checked="${problemState == 'Reported'}" required />
                        <label th:for="${problemState}" th:text="${problemState}"></label>
                    </div>
                </th:block>
            </fieldset>

            <button aria-label="Answer Problem">Answer Problem</button>

        </form>
    </div>
</main>

</body>
</html>