<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Answer Problem</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>


<ol th:each="action : ${actions}">
    <li th:text="${action.description}">Action description.</li>
</ol>

<form th:action="@{answer}" method="post">
    <label for="answer">
        <textarea name="answer" id="answer" cols="30" rows="10"
                  placeholder="How can the problem be resolved?">
        </textarea>
    </label>
    <button aria-label="Answer Problem">Answer Problem</button>
</form>

</body>
</html>