<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Purchase App</title>
    <script th:src="@{app.js}"></script>
</head>
<body>

<div th:replace="~{fragments/header :: userHeader}"></div>

<div th:if="${purchaseStatus == 'success'}">
    Purchase successful!
</div>
<div th:if="${purchaseStatus == 'failure'}">
    Purchase failed. Please try again.
</div>

<form method="post" th:action="@{''}">
    <img th:src="${app.logoUrl}" th:alt="|${app.name} logo|">
    <h2 th:text="${app.name}">Application</h2>
    <h3 th:text="${app.version}">1.0</h3>
    <p th:text="${app.description}">Application description.</p>
    <div th:text="${app.releaseYear}">2024</div>
    <label for="support"></label>
    <select name="support" id="support">
        <!--            todo, remove this hardcoded id BEZ_POD-->
        <option value="BEZ_POD">Type of support</option>
        <option th:each="supp: ${supportTypes}" th:value="${supp.id}" th:text="${supp.name}"></option>
    </select>
    <button type="submit">Buy</button>
</form>

</body>
</html>