<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <title>Problem Report</title>
</head>
<body>

<div th:replace="~{fragments/header :: userHeader}"></div>

<main class="main-width-container flex-center">

    <div>
        <h1>Report a Problem</h1>
        <form method="post" th:action="@{''}">
            <label >Please briefly describe the problem:
            <input type="text" name="description" >
            </label>

            <label>Actions that led to the problem occurring:
                <textarea name="actions" rows="8"
                          placeholder="Describe each action on a new line. Press Enter when you're done typing in an action."></textarea>
            </label>

            <button type="submit">Submit</button>
        </form>
    </div>
</main>


</body>
</html>