<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Problems</title>
</head>
<body>

<div th:replace="~{fragments/header :: engineerHeader}"></div>

<h1>Active Problems</h1>

<table th:unless="${problems.isEmpty()}">
    <thead>application name + version, state, description, number of actions
    <tr>
        <th>Application</th>
        <th>Version</th>
        <th>State</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="problem: ${problems}">
        <td th:text="${problem.application.name}">Application</td>
        <td th:text="${problem.application.version}">1.0</td>
        <td th:text="${problem.state}">Reported.</td>
        <td th:text="${problem.description}">User can't do something.</td>
        <td>

            <a th:href="@{/engineer/problems/{problemId}(problemId=${problem.id})}">
                See Problem
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>