<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App shop</title>
    <script th:src="@{/app.js}"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<article th:each="app: ${apps}" class="application">
    <img th:src="${app.logoUrl}" th:alt="|${app.name} logo|">
    <h2 th:text="${app.name}">Application</h2>
    <h3 th:text="${app.version}">1.0</h3>
    <p th:text="${app.description}">Application description.</p>
    <div th:text="${app.releaseYear}">2024</div>
    <a th:attr="href=@{/application/buy(appId=${app.id})}" aria-label="Buy Application">Buy</a>
</article>

</body>
</html>