<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/shop.css}">
    <title>App shop</title>
</head>
<body>

<div th:replace="~{fragments/header :: userHeader}"></div>

<main id="item-container" class="app-width-container">

    <a th:each="app: ${apps}" th:href="@{/application/{appId}/buy(appId=${app.id})}"
       aria-label="Buy Application" href="">

        <article class="app">

            <img th:src="${app.logoUrl}" th:alt="|${app.name} logo|" class="app-logo-big" src="/images/logos/logo.png">

            <div th:text="${app.name}">Application</div>
            <p th:text="${app.description}">
                This app will blow your socks off. And we really mean it. Wowza!
            </p>
            <div id="version" th:text="${app.version}"><b>Version: </b>1.0</div>
            <div id="release-year" th:text="${app.releaseYear}"><b>Released: </b>2024</div>

        </article>

    </a>

</main>
</body>
</html>