<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reported problems</title>
</head>
<body>

<div th:replace="~{fragments/header :: userHeader}"></div>
<h1>Reported Problems</h1>

<div th:if="${problems}">
    <details th:each="problem : ${problems}" aria-label="See Fixes">
        <summary>
            Problem with <span th:text="${problem.application.name}"></span>
            <span th:text="${problem.application.version}"></span>
            currently <span th:text="${problem.state}"></span>.
        </summary>
        <p th:text="${problem.description}"></p>
        <h3>Answers</h3>
        <ul th:if="${problem.answers}">
            <li th:each="answer : ${problem.answers}">
                <strong th:text="${answer.engineer.name}"></strong>:
                <span th:text="${answer.description}"></span>
            </li>
        </ul>
    </details>
</div>

</body>
</html>