<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report a Problem</title>
</head>
<body>
<div th:replace="~{fragments/header :: userHeader}"></div>

<div th:if="${purchases.isEmpty()}">
    No purchases to show.
</div>

<table th:unless="${purchases.isEmpty()}">
    <thead>
    <tr>
        <th>Name</th>
        <th>Version</th>
        <th>Support Type</th>
        <th>Description</th>
        <th>Release Year</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="purchase: ${purchases}">
        <td>
            <img th:src="${purchase.application.logoUrl }" th:alt="|${purchase.application.name} logo|">
        </td>
        <td th:text="${purchase.application.name}">Application</td>
        <td th:text="${purchase.application.version}">1.0</td>
        <td th:text="${purchase.supportType.name}">No Support</td>
        <td th:text="${purchase.application.description}">Application description.</td>
        <td th:text="${purchase.application.releaseYear}">2024</td>
        <td>
            <a th:href="@{/application/{appId}/reportProblem(appId=${purchase.application.id})}"
               aria-label="Report a Problem With the Application"
            >Report a Problem</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>